---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
      {%- if page.author -%}
        {%- assign author = site.data.authors[page.author] -%}
        {%- if author -%}
          &nbsp;·&nbsp;
          <a href="{{ "/" | append: page.author | append: "/" | relative_url }}" class="post-author-link" style="color: {{ author.accent }}">{{ author.name }}</a>
        {%- endif -%}
      {%- endif -%}
    </p>
  </header>

  {%- if page.tags.size > 0 -%}
  <div class="post-tags">
    {%- for tag in page.tags -%}
      <a href="{{ "/tags/" | relative_url }}#{{ tag | slugify }}" class="tag-pill">{{ tag }}</a>
    {%- endfor -%}
  </div>
  {%- endif -%}

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<div class="giscus-comments">
  <script src="https://giscus.app/client.js"
          data-repo="J0N1/consilientlens.github.io"
          data-repo-id="R_kgDOR_LxOA"
          data-category="Announcements"
          data-category-id="DIC_kwDOR_LxOM4C6m6L"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="light"
          data-lang="en"
          crossorigin="anonymous"
          async>
  </script>
</div>
